@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgba(255, 250, 203, 0.473);
    padding: 10px;
    text-align: center;
    
}

nav > a{
    font-weight: bolder;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

nav >a:hover{
    text-decoration: underline;
    color: blanchedalmond;
    background-color: rgb(51, 51, 51);
    padding: 10px 10px 10px 10px;

}

header{
    background-image: url('../imagens/goldem01-1080px.jpg');
    background-size: cover;
}

header > h1{
    font-family: 'Passion One', cursive;
    font-weight: normal;
    font-size: 3em;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    background-color: rgba(0, 0, 0, 0.500);
    text-align: center;  
    color: white;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
}

#img01{
    background-image: url('../imagens/goldem03-1080px.jpg');
    background-size: cover;
}

#img02{
    background-image: url('../imagens/goldem04-1080px.jpg');
    background-size: cover;
}
.imagem{
    background-color: blanchedalmond;
    min-height: 800px;
    min-width: 96vw;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.500);
        
}

.imagem > div{
    
    text-align: center;  
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 0;
    top: 50vh;
    

}

.imagem > div > h2{
    font-family: 'Passion One', cursive;
    font-weight: normal;
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    background-color: rgba(0, 0, 0, 0.500);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    
}

.normal{
    background-color: white;
    min-height: 20vh;
}

.normal > h3{
    padding: 15px;
}

.normal2{
    background-color: rgb(51, 51, 51);
    min-height: 20vh;
}

.normal2 > h3{
    padding: 15px;
    color: white;
}

.normal2 > p{
    color: white;
}

section > p{
    text-align: justify;
    text-indent: 2em;
    padding: 20px;
    line-height: 1.5em;

}

footer{
    background-color: rgba(255, 250, 203, 0.473);
    color: rgb(43, 40, 20);
    text-align: right;
    padding: 5px;
}

footer  a{
    font-weight: bolder;
    color: black;
}